.reset{
  background-color: #252525;
  color: #c4c4c4;
  border-radius: 10px;
  padding: 7px;
  text-transform: uppercase;
  transition: all 0.3s;
  border: 2px solid #c4c4c4;
  &:hover{
    color: white;
    cursor:pointer;
    border: 2px solid white;
  }
}