.price-range-slider{
  margin-top: 25px;
}
.MuiSlider-root {
  color: #c4c4c4 !important;

  .PrivateValueLabel-label-5 {
    color: black;
    padding: 4px;
  }
  .MuiSlider-markLabel {
    color: #c4c4c4;
  }
  .MuiSlider-markActive{
    background-color: white;
  }
  & .MuiSlider-thumb{
    &:focus, &:hover, &.Mui-active, &.Mui-focusVisible {
     box-shadow: none;
    }
    &:before {
      display: none;
    }
  }

}